In [1]:
import pandas as pd
import numpy as np
import os
from collections import Counter
from scipy.stats import pearsonr, spearmanr, ttest_ind, ttest_rel

In [3]:
data_dir = "./hw1-data/"
df_news = pd.read_pickle(os.path.join(data_dir, "df_news.pkl"))
df_task = pd.read_pickle(os.path.join(data_dir, 'df_task.pkl'))
df_user = pd.read_pickle(os.path.join(data_dir, 'df_user.pkl'))

df_news.head()

,userid,newsid,topic,topic_pref,post_topic_pref,taskid,task_pos,condition,equality,imp_position,...,max_scroll_speed,max_scroll_interval,direction_change_times,dwell_time,pre_pref,read_pref,whyclick,uquality,utitle,post_pref
0,150406126,15993932,历史,2,1,8,0,c3,0,1,...,12.75,2914.0,12.0,34.0,3.0,2.0,1,2.0,3.0,2.0
1,150406126,21226182,科技,2,3,8,0,c3,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,3.0
2,150406126,20993528,历史,2,1,8,0,c3,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,1.0
3,150406126,21169773,历史,2,1,8,0,c3,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,2.0
4,150406126,20730284,社会,4,4,8,0,c3,1,5,...,3.75,11971.0,10.0,82.0,4.0,4.0,"1,3",4.0,5.0,3.0

In [4]:
df_task.head()

,userid,task_id,topic,task_pos,condition,satisfaction,sat_zscore,quality,num_low_news_imp,num_high_news_clk,...,sum_pre_prefs,max_pre_prefs,min_pre_prefs,mean_read_prefs,sum_read_prefs,max_read_prefs,min_read_prefs,last_pre_prefs,last_read_prefs,last_post_prefs
0,150406126,8,mixed,0,c3,5,-0.246269,5,3,5,...,20.0,5.0,3.0,3.60,18.0,5.0,2.0,4.0,4.0,1
1,150406126,7,mixed,1,c9,5,-0.246269,5,9,1,...,25.0,5.0,4.0,4.00,24.0,4.0,4.0,4.0,4.0,2
2,150406126,9,mixed,2,c0,6,0.656716,6,0,4,...,17.0,5.0,4.0,4.25,17.0,5.0,4.0,4.0,4.0,1
3,150406126,6,mixed,3,c6,6,0.656716,5,6,3,...,21.0,5.0,4.0,3.80,19.0,4.0,3.0,4.0,4.0,1
4,150406126,4,社会,4,c0,5,-0.246269,5,0,4,...,16.0,4.0,4.0,3.25,13.0,4.0,2.0,4.0,4.0,3

In [5]:
df_user.head()

,userid,age,exp_id,exp_news,exp_newsrec,pre_topic_prefs,post_topic_prefs,tasks,satisfactions,post_prefs_mean,post_prefs_var,pre_prefs_mean,pre_prefs_var,read_prefs_mean,read_prefs_var
0,150406126,21,0,3,3,"[(社会, 4), (娱乐, 3), (科技, 2), (体育, 2), (历史, 2)]","[(社会, 4), (娱乐, 5), (科技, 3), (体育, 1), (历史, 1)]","[(8, c3, 5, 5, None), (7, c9, 5, 5, 2), (9, c0...","[5, 5, 6, 6, 5, 6, 3, 7, 4, 6, 5]",1.878788,1.100459,4.071429,0.102041,3.732143,0.481824
1,2015012721,20,4,3,2,"[(社会, 4), (娱乐, 5), (科技, 3), (体育, 4), (历史, 2)]","[(社会, 2), (娱乐, 5), (科技, 1), (体育, 2), (历史, 4)]","[(8, c0, 3, 4, None), (7, c3, 5, 5, 2), (9, c6...","[3, 5, 6, 2, 2, 5, 5, 5, 5, 2, 6]",2.333333,1.701010,3.408163,0.404831,3.265306,1.092878
2,2015310479,26,7,3,3,"[(社会, 2), (娱乐, 4), (科技, 3), (体育, 3), (历史, 5)]","[(社会, 2), (娱乐, 4), (科技, 3), (体育, 3), (历史, 5)]","[(6, c9, 3, 3, None), (8, c0, 5, 5, 2), (7, c3...","[3, 5, 3, 3, 6, 4, 4, 6, 3, 7, 4]",3.387879,1.679853,3.636364,1.201102,3.222222,1.667789
3,2015310968,24,3,4,1,"[(社会, 5), (娱乐, 5), (科技, 4), (体育, 1), (历史, 1)]","[(社会, 3), (娱乐, 5), (科技, 5), (体育, 1), (历史, 2)]","[(6, c6, 3, 4, None), (8, c3, 4, 5, 2), (7, c9...","[3, 4, 4, 6, 6, 4, 5, 5, 2, 5, 2]",2.412121,1.624096,4.229167,0.426649,4.145833,0.666233
4,2016011697,19,1,3,1,"[(社会, 4), (娱乐, 1), (科技, 4), (体育, 2), (历史, 3)]","[(社会, 3), (娱乐, 2), (科技, 5), (体育, 1), (历史, 4)]","[(7, c9, 5, 5, None), (9, c0, 2, 3, 1), (6, c6...","[5, 2, 6, 5, 5, 2, 5, 4, 4, 5, 6]",2.642424,1.538806,3.975610,0.365259,3.658537,1.078525